@media not print {
  .slidez {
    margin: auto;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url('../img/blank.png');
    transition: background-image 0.5s ease-in-out;
    box-sizing: border-box;
  }
  .slidez .viewport {
    width: 100%;
    height: 100%;
    padding: 20px 0;
    position: relative;
    background: #fefefe;
    background: rgba(255, 255, 255, 0.35);
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .slidez .viewport > .page:nth-child(4) {
    position: absolute;
    padding-right: 20px;
  }
  .slidez .loading-overlay {
    margin: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.45);
    z-index: 10;
  }
  .slidez .loading-overlay > .loading {
    display: inline-block;
    margin: auto;
    padding: 0.5em 1em;
    margin-top: 40%;
    background-color: #fff;
    border-radius: 1em;
  }
  .slidez .page-stack {
    position: fixed;
    top: 100%;
  }
  .tile {
    display: inline-block;
    margin: 1.7em;
    width: 290px;
    height: 290px;
    background: #fff;
    box-shadow: #333 0 0 0.2em 0.1em;
    border: 1px solid #222;
    position: relative;
    vertical-align: bottom;
  }
  .tile.residential {
    background-color: #66bed1;
  }
  .tile.business {
    background-color: #a3c6e0;
  }
  .tile.pricing > .gallery {
    width: 100%;
    height: 100%;
  }
  .tile.twitter {
    width: 528px;
    background-color: #ffcc4d;
  }
  .tile.about {
    background-color: #b1bd9c;
  }
  .tile > .bg {
    width: 0;
    height: 0;
  }
  .tile > label {
    margin-left: 8px;
    width: 100%;
    position: absolute;
    bottom: 0.5em;
    left: 0;
    color: rgba(255, 255, 255, 0.7) !important;
    font-size: 280%;
    font-weight: 600;
    text-decoration: none;
    text-shadow: 0px 0px 1px #ffffff, 1px 1px 1px #e6e6e6, -1px -1px 2px #444444;
    text-align: left;
    line-height: 1.3;
  }
  .tile > label:after {
    content: ' ';
    display: inline;
    width: 42px;
    height: 42px;
    position: absolute;
    right: 10px;
    bottom: -22px;
    background: url('../img/arrow.png') center / contain;
  }
  .gallery > .item {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    height: 100%;
    background-color: #4d84c7;
    background-size: cover;
    background-position: center;
  }
  .gallery > .item > div {
    margin: auto;
    min-width: 75%;
    padding: 0.5em;
    color: #000;
    text-shadow: none;
    background: rgba(255, 255, 255, 0.7);
  }
  .cognito {
    margin: auto;
    width: 100%;
    max-width: 820px;
  }
}
html {
  margin: 0;
  width: 100%;
  height: 100%;
}
h1 {
  margin-bottom: 0;
}
h2 {
  margin-top: 0;
}
ul {
  display: inline-block;
  padding: 9px;
}
iframe {
  border: none;
}
.viewport > header {
  visibility: hidden;
  width: 100%;
  text-align: center;
}
.viewport > header > h1 {
  display: inline-block;
  max-width: 540px;
  text-align: center;
}
.viewport > header > h1 .logo {
  width: 800px;
  max-width: 100%;
  max-height: 120px;
}
.viewport > header > .vcard {
  display: inline-block;
  margin: 18px 20px;
  max-width: 720px;
  padding: 10px;
  vertical-align: top;
  text-align: left;
}
.viewport > header > .vcard > div {
  margin: 10px 10px 0;
  height: 2.5em;
}
.viewport > header > .vcard .fn.org {
  display: none;
}
.viewport > footer {
  margin-top: 20px;
  width: 100%;
  height: 0;
  visibility: hidden;
  position: fixed;
  bottom: 0;
}
.viewport > footer > * {
  position: relative;
  bottom: 70px;
}
.viewport > footer > .social-links {
  left: 10px;
  z-index: 1;
}
.viewport > footer > .payment-badge {
  margin: 0 26px 0 0;
  height: 32px;
  float: right;
  vertical-align: top;
}
.viewport > footer > .copy-text {
  padding: 13px;
  border-top-right-radius: 1em;
}
.page {
  margin: 1em 0 70px;
  width: 100%;
  box-sizing: border-box;
}
.page > .content {
  margin: auto;
  max-width: 1200px;
  padding: 1.5em 1.5em 2em;
  position: relative;
  text-align: center;
  background: #fff;
  box-shadow: #333 0 0 0.2em 0.1em;
}
.page > .content > .back-button {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff url('../img/back.png') center / cover no-repeat;
  border: none;
  box-shadow: inset rgba(0, 0, 0, 0.55) -0.1em -0.05em 0.1em 0.05em;
  text-decoration: none;
}
.page.home > .content {
  padding: initial;
  background: initial;
  box-shadow: none;
}
.special-badge {
  width: 70%;
  position: absolute;
  top: -15%;
  right: -15%;
}
.pagebar {
  margin-top: 2.5em;
  text-align: center;
}
.pagebar > span {
  box-shadow: #333 1px 1px 2px;
  background-color: #fff;
  padding: 12px 0.5em 7px;
  vertical-align: sub;
}
.pagebar > span:first-child {
  padding: 0 0.5em;
  background-color: #000;
  color: #fff11f;
  font-size: 200%;
  line-height: 36px;
  vertical-align: middle;
}
.avatar {
  width: 60%;
  padding: 3px;
  border-radius: 50%;
  box-shadow: inset 2px 2px 9px #333;
}
.avatar.sam {
  background: url('../img/pics/sam.jpg') center / contain;
}
.avatar.brian {
  background: url('../img/pics/brian.jpg') center / contain;
}
.clear-float {
  float: none;
  clear: both;
}
html,
body {
  font-size: 100%;
}
a {
  color: #0033ee;
}
a:active {
  color: #7c97f8;
}
a:visited {
  color: #4b259d;
}
p {
  margin: 1em 2.5em;
  text-indent: 1em;
}
form,
p,
ul {
  line-height: 120%;
  text-align: left;
}
.lg {
  font-size: 160%;
}
.xlg {
  font-size: 200%;
}
.xxl {
  font-size: 280%;
}
.icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  border: none;
  outline: none;
}
.icon.sm {
  height: 18px;
  width: 18px;
}
.icon.lg {
  height: 40px;
  width: 40px;
}
.icon.hot {
  background: url('../img/hot.png') center / auto 100% no-repeat;
}
li .icon {
  margin-bottom: -1%;
}
/*
        |
display | like
  stuff | this
        |
*/
.tree {
  padding: 0 8px;
}
.tree > * {
  vertical-align: middle;
}
.tree > .tree-left {
  display: inline-block;
  margin-right: 5px;
  padding-right: 6px;
  border-right: 2px solid #aaa;
  text-align: right;
}
.tree > .tree-right {
  display: inline-block;
  text-align: left;
}
@media screen {
  html {
    background: #ffffff url('../img/bg/default.png');
  }
  .viewport {
    box-shadow: inset rgba(0, 0, 0, 0.4) 0 0 200px 200px;
  }
  .viewport > header {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0));
  }
  .viewport > footer > .copy-text {
    color: #ccc;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0) 95%);
    box-shadow: 1px -1px 1px 0 rgba(0, 0, 0, 0.35);
    text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
  }
  /* bouncy hover effect (for social links) */
  .animated.hoverbounce:hover {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }
  /* long-perspective flipIn* derived from animate.css
   FIXME: should custom-generate animate.css instead */
  @-webkit-keyframes flipInX {
    from {
      -webkit-transform: perspective(6000px) rotate3d(1, 0, 0, 90deg);
      transform: perspective(6000px) rotate3d(1, 0, 0, 90deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 0;
    }
    40% {
      -webkit-transform: perspective(6000px) rotate3d(1, 0, 0, -20deg);
      transform: perspective(6000px) rotate3d(1, 0, 0, -20deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    60% {
      -webkit-transform: perspective(6000px) rotate3d(1, 0, 0, 10deg);
      transform: perspective(6000px) rotate3d(1, 0, 0, 10deg);
      opacity: 1;
    }
    80% {
      -webkit-transform: perspective(6000px) rotate3d(1, 0, 0, -5deg);
      transform: perspective(6000px) rotate3d(1, 0, 0, -5deg);
    }
    100% {
      -webkit-transform: perspective(6000px);
      transform: perspective(6000px);
    }
  }
  @keyframes flipInX {
    from {
      -webkit-transform: perspective(6000px) rotate3d(1, 0, 0, 90deg);
      transform: perspective(6000px) rotate3d(1, 0, 0, 90deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 0;
    }
    40% {
      -webkit-transform: perspective(6000px) rotate3d(1, 0, 0, -20deg);
      transform: perspective(6000px) rotate3d(1, 0, 0, -20deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    60% {
      -webkit-transform: perspective(6000px) rotate3d(1, 0, 0, 10deg);
      transform: perspective(6000px) rotate3d(1, 0, 0, 10deg);
      opacity: 1;
    }
    80% {
      -webkit-transform: perspective(6000px) rotate3d(1, 0, 0, -5deg);
      transform: perspective(6000px) rotate3d(1, 0, 0, -5deg);
    }
    100% {
      -webkit-transform: perspective(6000px);
      transform: perspective(6000px);
    }
  }
  .animated.flipInX {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInX;
    animation-name: flipInX;
  }
  @-webkit-keyframes flipInY {
    from {
      -webkit-transform: perspective(6000px) rotate3d(0, 1, 0, 90deg);
      transform: perspective(6000px) rotate3d(0, 1, 0, 90deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 0;
    }
    40% {
      -webkit-transform: perspective(6000px) rotate3d(0, 1, 0, -20deg);
      transform: perspective(6000px) rotate3d(0, 1, 0, -20deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    60% {
      -webkit-transform: perspective(6000px) rotate3d(0, 1, 0, 10deg);
      transform: perspective(6000px) rotate3d(0, 1, 0, 10deg);
      opacity: 1;
    }
    80% {
      -webkit-transform: perspective(6000px) rotate3d(0, 1, 0, -5deg);
      transform: perspective(6000px) rotate3d(0, 1, 0, -5deg);
    }
    100% {
      -webkit-transform: perspective(6000px);
      transform: perspective(6000px);
    }
  }
  @keyframes flipInY {
    from {
      -webkit-transform: perspective(6000px) rotate3d(0, 1, 0, 90deg);
      transform: perspective(6000px) rotate3d(0, 1, 0, 90deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 0;
    }
    40% {
      -webkit-transform: perspective(6000px) rotate3d(0, 1, 0, -20deg);
      transform: perspective(6000px) rotate3d(0, 1, 0, -20deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    60% {
      -webkit-transform: perspective(6000px) rotate3d(0, 1, 0, 10deg);
      transform: perspective(6000px) rotate3d(0, 1, 0, 10deg);
      opacity: 1;
    }
    80% {
      -webkit-transform: perspective(6000px) rotate3d(0, 1, 0, -5deg);
      transform: perspective(6000px) rotate3d(0, 1, 0, -5deg);
    }
    100% {
      -webkit-transform: perspective(6000px);
      transform: perspective(6000px);
    }
  }
  .animated.flipInY {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInY;
    animation-name: flipInY;
  }
  /* origin helpers for flipIn* */
  .animated.flipInLeft,
  .animated.flipInTop {
    transform-origin: left top;
  }
  .animated.flipInRight,
  .animated.flipInBottom {
    transform-origin: right bottom;
  }
  .icon.social {
    vertical-align: bottom;
    outline: none;
    display: inline-block;
    margin: 0 0 0.18em 0.18em;
    width: 36px;
    height: 36px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 0.1em 0.08em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .icon.social.fb {
    background-color: #3b5998;
    background-image: url('../img/social/color/fb_btn.png');
  }
  .icon.social.gplus {
    background-color: #dd4b39;
    background-image: url('../img/social/color/gplus_btn.png');
  }
  .icon.social.twitter {
    background-color: #55acee;
    background-image: url('../img/social/color/twitter_btn.png');
  }
  .icon.social.tumblr {
    background-color: #35465c;
    background-image: url('../img/social/color/tumblr_btn.png');
  }
  .icon.social.youtube {
    background-color: #cd201f;
    background-image: url('../img/social/color/youtube_btn.png');
  }
  .icon.social.instagram {
    background-color: #517fa4;
    background-image: url('../img/social/color/instagram_btn.png');
  }
  .icon.social.yelp {
    background-color: #af0606;
    background-image: url('../img/social/color/yelp_btn.png');
  }
}
@media screen and (min-width: 1921px) {
  .viewport {
    box-shadow: inset rgba(0, 0, 0, 0.55) 16px 0 9px -14px;
  }
}
@media screen and (max-width: 960px) {
  .tile {
    max-width: 290px;
  }
}
@media screen and (max-width: 800px) {
  .viewport > header > .vcard > div {
    margin: auto;
    padding: 0;
  }
  .tile {
    max-width: 290px;
    margin: 0.6em;
  }
  .pagebar {
    margin-top: 3.5em;
  }
  .pagebar > span {
    display: block;
  }
  .viewport-footer {
    position: relative;
  }
}
@media screen and (max-width: 640px) {
  .viewport > header {
    margin-bottom: 5em;
    position: relative;
  }
  .viewport > header > .vcard {
    display: inline-flex;
    margin: 0.5em auto 4em;
    padding: 0;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    text-align: center;
  }
  .viewport > header > .vcard big,
  .viewport > header > .vcard small {
    font-size: initial !important;
  }
  .viewport > footer {
    margin: auto;
    height: initial;
    padding: 0;
    position: static;
    text-align: center;
    font-size: 120%;
  }
  .viewport > footer > * {
    display: block;
    position: static;
  }
  .viewport > footer > .social-links {
    margin: 20px 0.18em 0 0;
  }
  .viewport > footer > .payment-badge {
    margin: 15px auto;
    float: none;
  }
  .viewport > footer > .copy-text {
    background: initial;
    box-shadow: initial;
  }
  .tree > .tree-left {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
  }
  .content > h2:first-of-type {
    text-align: right;
  }
  .tile {
    min-width: 98%;
    margin: 0.5em auto;
  }
  .page {
    margin-bottom: 0;
  }
  .no-mobile {
    display: none;
  }
  .i-mobile {
    display: inline-block;
    margin: 0 0 0.18em 0.18em !important;
    width: 64px;
    height: 64px;
    padding: 17px 0 !important;
    box-sizing: border-box;
    box-shadow: #000 0 0 0.08em 0.03em;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.35);
    color: #0133ee;
    font-size: 200%;
    text-shadow: 0px 0px 1px #ffffff, 1px 1px 1px #e6e6e6, -1px -1px 2px #888888;
  }
}
@media print {
  html {
    zoom: 0.7;
  }
  .no-print {
    display: none;
  }
}
