.icon {
  display: inline-block;
  width: 46px;
  height: 46px;
  border: none;
  outline: none;

  &.xsm { height: 22px; width: 22px; }
  &.sm { height: 30px; width: 30px; }

  &.hot { background: url('../img/hot.png') center/auto 100% no-repeat; }
}

li .icon {
	margin-bottom: -2%;
}
