.icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  border: none;
  outline: none;

  &.sm { height: 0.9em; width: 0.9em; }
  &.lg { height: 2em; width: 2em; }

  &.hot { background: url('../img/hot.png') center/auto 100% no-repeat; }
}

li .icon {
  position: absolute;
  top: 0.15em;
}
