html {
  margin: 0;
  width: 100%;
  height: 100%;
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
}

ul {
  display: inline-block;
  padding: 9px;
}

iframe {
  border: none;
}

.viewport {
  & > header {
    visibility: hidden;
    width: 100%;
    text-align: center;

    & > h1 {
      display: inline-block;
      max-width: 540px;
      text-align: center;

      & .logo {
        width: 800px;
        max-width: 100%;
        max-height: 120px;
      }
    }

    & > .vcard {
      display: inline-block;
      margin: 18px 20px;
      max-width: 720px;
      padding: 10px;
      vertical-align: top;
      text-align: left;

      & > div {
        margin: 10px 10px 0;
        height: 2.5em;
      }

      & .fn.org { display: none; }
    }
  }

  & > footer {
    margin-top: 20px;
    width: 100%;
    // don't obstruct clicks
    height: 0;
    visibility: hidden;
    position: fixed;
    bottom: 0;

    & > * {
      position: relative;
      bottom: 70px;
    }

    & > .social-links {
      left: 10px;
      z-index: 1;
    }

    & > .payment-badge {
      margin: 0 26px 0 0;
      height: 32px;
      float: right;
      vertical-align: top;
    }

    & > .copy-text {
      padding: 13px;
      border-top-right-radius: 1em;
    }
  }
}

.page {
  margin: 1em 0 70px;
  width: 100%;
  box-sizing: border-box;

  & > .content {
    margin: auto;
    max-width: 1200px;
    padding: 1.5em 1.5em 2em;
    position: relative;
    text-align: center;
    background: #fff;
    box-shadow: #333 0 0 0.2em 0.1em;

    & > .back-button {
      width: 64px;
      height: 64px;
      position: absolute;
      top: 0;
      left: 0;
      background: #fff url('../img/back.png') center/cover no-repeat;
      border: none;
      box-shadow: inset rgba(0, 0, 0, 0.55) -0.1em -0.05em 0.1em 0.05em;
      text-decoration: none;
    }
  }

  &.home > .content {
    padding: initial;
    background: initial;
    box-shadow: none;
  }
}

.special-badge {
  width: 70%;
  position: absolute;
  top: -15%;
  right: -15%;
}

.pagebar {
  margin-top: 2.5em;
  text-align: center;
  & > span {
    box-shadow: #333 1px 1px 2px;
    background-color: #fff;
    padding: 12px 0.5em 7px;
    vertical-align: sub;

    &:first-child {
      padding: 0 0.5em;
      background-color: #000;
      color: #fff11f;
      font-size: 200%;
      line-height: 36px;
      vertical-align: middle;
    }
  }
}

.avatar {
  width: 60%;
  padding: 3px;
  border-radius: 50%;
  box-shadow: inset 2px 2px 9px #333;

  &.sam {
    background: url('../img/pics/sam.jpg') center/contain;
  }

  &.brian {
    background: url('../img/pics/brian.jpg') center/contain;
  }
}

.clear-float {
  float: none;
  clear: both;
}
