// extra-wide displays
@media (min-width: 1921px) {
  .viewport {
    box-shadow: inset rgba(0, 0, 0, 0.55) 16px 0 9px -14px;
  }
}

// small displays
@media (max-width: 960px) {
  .tile {
    max-width: 290px;
  }
}

// extra-small displays
@media (max-width: 800px) {
  .viewport {
    & > header {
      & > .vcard {
        & > div {
          margin: auto;
          padding: 0;
        }
      }
    }
  }

  .tile {
    max-width: 290px;
    margin: 0.6em;
  }

  .pagebar {
    margin-top: 3.5em;
    & > span {
      display: block;
    }
  }

  .viewport-footer {
    position: relative;
  }
}

// mobile displays
@media (max-width: 640px) {
  .viewport {
    & > header {
      margin-bottom: 5em;
      position: relative;

      & > .vcard {
        display: inline-flex;
        margin: 0.5em auto 4em;
        padding: 0;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        text-align: center;

        & big,
        & small, {
          // dissimilar sizes break iconification
          font-size: initial !important;
        }
      }
    }

    & > footer {
      margin: auto;
      height: initial;
      padding: 0;
      position: static;
      text-align: center;
      font-size: 120%;

      & > * {
        display: block;
        position: static;
      }

      & > .social-links {
        margin: 20px 0 0;
      }

      & > .payment-badge {
        margin: 15px auto;
      }

      & > .copy-text {
        background: initial;
        box-shadow: initial;
      }
    }
  }

  .tree > .tree-left {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
  }

  .content > h1:first-of-type {
    // avoid interference with .back-button
    text-align: right;
  }

  .tile {
    min-width: 98%;
    margin: 0.5em auto;
  }

  .page {
    margin-bottom: 0;
  }

  // helpers
  .no-mobile {
    display: none;
  }

  .i-mobile {
    display: inline-block !important;
    margin: 0 0 0.18em 0.18em !important;
    width: 64px;
    height: 64px;
    padding: 17px 0 !important;
    box-sizing: border-box !important;
    box-shadow: #000 0 0 0.08em 0.03em !important;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.35);
    color: #0133ee;
    font-size: 200%;
    text-shadow: 0px 0px 1px #fff, 1px 1px 1px #e6e6e6, -1px -1px 2px #888;
  }
}
