/*
        |
display | like
  stuff | this
        |
*/
.tree {
  padding: 0 8px;
  text-align: center;

  & > * {
    vertical-align: middle;
  }

  & > .tree-left {
    display: inline-block;
    margin-right: 5px;
    padding-right: 6px;
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    text-align: right;
  }

  & > .tree-right {
    display: inline-block;
    text-align: left;
  }
}
