#home.home.page.animated.zoomIn.no-print
  nav.content
    .pricing.tile.animated.flipInX.flipInTop
      .gallery.autoplay.items-6.pull-right
        .control-operator(id="home/pricing-diagnostic")
        .control-operator(id="home/pricing-tuneup")
        .control-operator(id="home/pricing-antimalware")
        .control-operator(id="home/pricing-transfer")
        .control-operator(id="home/pricing-restoration")
        .control-operator(id="home/pricing-housecall")
        figure#diagnostic.item(data-layzr="img/specials/diagnostic.jpg" data-layzr-bg)
          div
            .xxl
              strong FREE
            a.xlg(href="#residential")
              | Same-Day<br>
              | Diagnostics
            div: small (Offer ends 09/30/2015)
        figure#tuneup.item(data-layzr="img/specials/tuneup.jpg" data-layzr-bg)
          div
            a.xlg(href="#residential")
              | Cleaning and<br>
              | Tune-Up
            div
              | Work and play faster than ever without breaking the bank!
            .xxl
              strong $39<sup><small>.99</small></sup>
        figure#antimalware.item(data-layzr="img/specials/antimalware.jpg" data-layzr-bg)
          div
            a.xlg(href="#residential")
              | Virus and<br>
              | Malware Removal
            div
              | A deeper cleaning to eradicate even the most vicious infections.
            small: em Starting from:
            .xxl
              strong $59<sup><small>.99</small></sup>
        figure#transfer.item(data-layzr="img/specials/transfer.jpg" data-layzr-bg)
          div
            a.xlg(href="#residential")
              | Files and Settings<br>
              | Transfer
            div
              | From email to Quickbooks and beyond, we'll make sure you don't lose a single byte!
            small: em Starting from:
            .xxl
              strong $59<sup><small>.99</small></sup>
        figure#restoration.item(data-layzr="img/specials/restoration.jpg" data-layzr-bg)
          div
            a.xlg(href="#residential")
              | Complete<br>
              | Restoration
            div
              | Let us get you back up and running &mdash; with no reinstallation or nasty surprises.
            .xxl
              strong $79<sup><small>.99</small></sup>
        figure#housecall.item(data-layzr="img/specials/housecall.jpg" data-layzr-bg)
          div
            .xlg
              | Need Us To Come<br>
              | To You?
            div Whether at your home or workplace, if you're in St Lucie or Martin county, we'll be there.
            .lg
              strong Call for a quote
        .controls
          a.control-button(href="#home/pricing-diagnostic") &bull;
          a.control-button(href="#home/pricing-tuneup") &bull;
          a.control-button(href="#home/pricing-antimalware") &bull;
          a.control-button(href="#home/pricing-transfer") &bull;
          a.control-button(href="#home/pricing-restoration") &bull;
          a.control-button(href="#home/pricing-housecall") &bull;
    a.residential.navlink.tile.animated.flipInY.flipInLeft(href="#residential")
      img.bg(src="img/blank.png" data-layzr="img/bg/residential.jpg" alt="Residential Services")
      img.tile-badge(src="img/blank.png" data-layzr="img/tuneup_badge.png" alt="$39.99 Cleaning &amp; Tune-Up!")
      label
        | Services<br>
        | For You
    a.business.navlink.tile.animated.flipInX.flipInTop(href="#business")
      img.bg(src="img/blank.png" data-layzr="img/bg/business.jpg" alt="Small Business Services")
      label
        | Small<br>
        | Business<br>
        | Services
    a.twitter.navlink.tile.animated.fadeIn(href="https://twitter.com/JetCompPSL" target="_blank")
      iframe(data-layzr="twitter.html" style="width: 100%; height: 100%;")
      label(style="z-index: -1;")
        | <small>@JetCompPSL</small><br>
        | on Twitter
