doctype html
html(lang="en")
  head
    //- Pull in common tags
    include ./includes/mixins.jade
    +meta('Home')
    include ./includes/base.jade
    //- Begin styles
    link(rel="stylesheet" href="css/vendor.css")
    link(rel="stylesheet" href="css/main.css")
    <!--[if IE 9]>
    style.
      html { background-attachment: fixed; }
    <![endif]-->
    //- End styles
    //- Begin scripts
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-67004816-1', 'auto');
      ga('send', 'pageview');
    script(src="js/vendor.js")
    script(src="js/main.js")
    <!--[if IE 9]>
    script(src="js/vendor/html5shiv.min.js")
    script(src="js/vendor/respond.min.js")
    <![endif]-->
    //- End scripts
  body.slidez(itemscope itemtype="http://schema.org/LocalBusiness")
    #loading-overlay.loading-overlay.animated.fadeIn.no-print
      .loading.animated.fadeInDown
        i.fa.fa-spinner.fa-pulse
        | &nbsp;
        label(for="loading-overlay") Loading... please wait
    #viewport.viewport
      header#viewport-header.animated
        h1: a(href="#home"): img.logo(itemprop="logo" src="img/blank.png" data-layzr="img/brand/ph.png" alt="Jet Computers logo")
        #vcard.vcard
          div
            .fn.org(itemprop="name")
              b Jet Computers
            a.navlink.pull-left(href="#map" title="Get directions")
              i.fa.fa-map-marker.fa-fw.fa-2x.i-mobile
            address.adr.pull-left.no-mobile(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")
              .street-address(itemprop="streetAddress") 808 SW Glenview Ct
              span.locality(itemprop="addressLocality") Port St Lucie
              | , 
              span.region(itemprop="addressRegion") FL 
              span.postal-code(itemprop="postalCode") 34953
              | , 
              abbr.country-name(itemprop="addressCountry" title="United States of America") US
          .tree
            span.tree-left
              big
                a(href="tel:7723618585" title="Reach us by phone")
                  i.fa.fa-phone.fa-fw.i-mobile
                strong.tel.no-mobile(itemprop="telephone")
                  | (<span class="value">772</span>) <span class="value">361</span>-<span class="value">8585</span>
              br.no-mobile
              a.email(itemprop="email" href="mailto:office@jetcomputers.us" title="Email us")
                i.fa.fa-envelope.fa-fw.i-mobile
                span.no-mobile: small office@jetcomputers.us
            span.tree-right
              a.pull-left(href="#" title="Store hours")
                i.fa.fa-clock-o.fa-fw.i-mobile(style="padding-bottom: 100%;")
              span.no-mobile(itemprop="openingHours" content="Mo-Fr 9:90-18:30") &nbsp;<em>Mon-Fri:</em> 9:30a-6:30p
              .no-mobile(itemprop="openingHours" content="Sa 11:00-16:30") &nbsp;<em>Sat:</em> 11a-4:30p
      #content-wrapper
      footer#viewport-footer.animated.no-print
        #social.social-links
          link(itemprop="url" href="https://jetcomputers.us")
          a.animated.hoverbounce(itemprop="sameAs" href="https://google.com/+JetComputersPortSaintLucie" target="_blank" title="Review us on Google+")
            i.icon.social.color.gplus.i-mobile
          a.animated.hoverbounce(itemprop="sameAs" href="https://yelp.com/biz/jet-computers-port-saint-lucie" target="_blank" title="Review us on Yelp")
            i.icon.social.color.yelp.i-mobile
          a.animated.hoverbounce(itemprop="sameAs" href="https://facebook.com/JetCompPSL" target="_blank" title="Like us on Facebook")
            i.icon.social.color.fb.i-mobile
          a.animated.hoverbounce(itemprop="sameAs" href="https://twitter.com/JetCompPSL" target="_blank" title="Follow us on Twitter")
            i.icon.social.color.twitter.i-mobile
          a.animated.hoverbounce(itemprop="sameAs" href="https://jetcomppsl.tumblr.com/" target="_blank" title="Follow us on Tumblr")
            i.icon.social.color.tumblr.i-mobile
        img#payments.payment-badge(src="img/payment_badge.png" style="height: 32px;")
        small.copy-text &copy; Jet Computers LLC, all rights reserved.
    #page-stack.page-stack
      #home.home.page.animated.zoomIn.no-print
        nav.content
          .pricing.tile.animated.flipInX.flipInTop
            .gallery.autoplay.items-6.pull-right
              .control-operator(id="home/pricing-diagnostic")
              .control-operator(id="home/pricing-tuneup")
              .control-operator(id="home/pricing-antimalware")
              .control-operator(id="home/pricing-transfer")
              .control-operator(id="home/pricing-restoration")
              .control-operator(id="home/pricing-housecall")
              figure#diagnostic.item(data-layzr="img/specials/diagnostic.jpg" data-layzr-bg)
                div
                  .xxl
                    strong FREE
                  a.xlg(href="#residential")
                    | Same-Day<br>
                    | Diagnostics
                  div: small (Offer ends 09/15/2015)
              figure#tuneup.item(data-layzr="img/specials/tuneup.jpg" data-layzr-bg)
                div
                  a.xlg(href="#residential")
                    | Cleaning and<br>
                    | Tune-Up
                  div
                    | Work and play faster than ever without breaking the bank!
                  .xxl
                    strong $39<sup><small>.99</small></sup>
              figure#antimalware.item(data-layzr="img/specials/antimalware.jpg" data-layzr-bg)
                div
                  a.xlg(href="#residential")
                    | Virus and<br>
                    | Malware Removal
                  div
                    | A deeper cleaning to eradicate even the most vicious infections.
                  small: em Starting from:
                  .xxl
                    strong $59<sup><small>.99</small></sup>
              figure#transfer.item(data-layzr="img/specials/transfer.jpg" data-layzr-bg)
                div
                  a.xlg(href="#residential")
                    | Files and Settings<br>
                    | Transfer
                  div
                    | From email to Quickbooks and beyond, we'll make sure you don't lose a single byte!
                  small: em Starting from:
                  .xxl
                    strong $59<sup><small>.99</small></sup>
              figure#restoration.item(data-layzr="img/specials/restoration.jpg" data-layzr-bg)
                div
                  a.xlg(href="#residential")
                    | Complete<br>
                    | Restoration
                  div
                    | Let us get you back up and running &ndash; with no reinstallation or nasty surprises.
                  .xxl
                    strong $79<sup><small>.99</small></sup>
              figure#housecall.item(data-layzr="img/specials/housecall.jpg" data-layzr-bg)
                div
                  .xlg
                    | Need Us To Come<br>
                    | To You?
                  div Whether at your home or workplace, if you're in St Lucie or Martin county, we'll be there.
                  .lg
                    strong Call for a quote
              .controls
                a.control-button(href="#home/pricing-diagnostic") &bull;
                a.control-button(href="#home/pricing-tuneup") &bull;
                a.control-button(href="#home/pricing-antimalware") &bull;
                a.control-button(href="#home/pricing-transfer") &bull;
                a.control-button(href="#home/pricing-restoration") &bull;
                a.control-button(href="#home/pricing-housecall") &bull;
          a.residential.navlink.tile.animated.flipInY.flipInLeft(href="#residential")
            img.bg(src="img/blank.png" data-layzr="img/bg/residential.jpg" alt="Residential Services")
            img.special-badge.pull-right(src="img/blank.png" data-layzr="img/tuneup_badge.png" alt="$39.99 Cleaning &amp; Tune-Up!")
            label
              | Services<br>
              | For You
          a.business.navlink.tile.animated.flipInX.flipInTop(href="#business")
            img.bg(src="img/blank.png" data-layzr="img/bg/business.jpg" alt="Small Business Services")
            label
              | Small<br>
              | Business<br>
              | Services
          a.twitter.navlink.tile.animated.fadeIn(href="https://twitter.com/JetCompPSL" target="_blank")
            iframe(data-layzr="twitter.html" style="width: 100%; height: 100%;")
            label(style="z-index: -1;")
              | <small>@JetCompPSL</small><br>
              | on Twitter
      section#residential.page.animated
        article.content
          button.back-button.no-print(style="background-color: #66add1") &nbsp;
          h2 Residential Services
          div
            p
              | Technology is changing our lives, but it doesn't have to cause
              | headaches, too. Jet Computers delivers down-to-earth, affordable
              | services to help you get the most from the devices in your home
              | and your pockets. Bring your troubled machines and gadgets by
              | for same-day diagnostics &ndash; complementary <strike>when you
              | pay for repairs</strike> <em>through September 2015!</em>
            p
              | Jet Computers is here to take care of all your technical needs.
              | We can assist you with everything from PCs to mobile phones, with services including:
            ul.fa-ul.pull-left
              li
                i.fa.fa-li.fa-tachometer
                | Cleaning and tune-up
              li
                i.fa.fa-li.fa-medkit
                | Virus and malware removal 
                i.icon.hot.sm(title="Popular service!")
              li
                i.fa.fa-li.fa-lock
                | Computer security
              li
                i.fa.fa-li.fa-bug
                | Troubleshooting
              li
                i.fa.fa-li.fa-download
                | System and app installation
              li
                i.fa.fa-li.fa-exchange
                | Files and settings transfer
              li
                i.fa.fa-li.fa-life-ring
                | Failure prevention and recovery
              li
                i.fa.fa-li.fa-magic
                | Complete system restoration 
                i.icon.hot.sm(title="Popular service!")
              li
                i.fa.fa-li.fa-bolt
                | Performance upgrades
              li
                i.fa.fa-li.fa-question
                | Need something else? Just ask!
              aside: small: em (We do not repair phone/tablet screens at this time)
            p
              | When you entrust Jet Computers with your gadgets &mdash; be it
              | your notebook or tablet, gaming rig or HTPC &mdash; you can rest
              | assured that expert hands are taking the utmost care to see the
              | job through properly. We are up to speed on all the latest
              | diagnosis and repair techniques, and we begin any delicate procedure
              | with a full backup of each device to protect your data against
              | the unforeseen. Our specialized in-house tools enable us to work
              | smarter and faster, saving you money and getting you back up and
              | running.
            br
            br.clear-float
            big: em Questions? Just call 772-361-8585!<br>
            small: em - or -<br>
            em Visit <a href="#map">our shop in Port St Lucie</a>!
      section#business.page.animated
        article.content
          button.back-button.no-print(style="background-color: #a3c6e0") &nbsp;
          h2 Small Business Services
          div
            p
              | Every small business has IT needs these days, but it's not
              | always cost-effective to bring in dedicated staff or to contract
              | a large outside firm. Jet Computers understands that sometimes,
              | your business just needs simple solutions for everyday IT
              | problems &ndash; without all the upselling and mammoth invoices.
              | No matter what your needs, we're ready to talk about affordable,
              | custom-tailored solutions for your small business.
            p
              | To request a no-obligation consultation, simply give us a call,
              | send us an email, or fill out the short form below.
            iframe.cognito(data-layzr="consultation.html" onload="this.style.height = this.contentWindow.document.body.scrollHeight + 'px';")
      section#map.page.animated.no-print
        .content
          button.back-button(style="background-color: #fff") &nbsp;
          h2 Come Find Us!
          iframe(data-layzr="https://www.google.com/maps/embed/v1/place?key=AIzaSyBMjHrzxczLo9bL4HWAx5f60a1mqzIAL2s&q=Jet Computers, Port St Lucie, FL 34953" allowfullscreen style="width: 100%; height: 600px; padding: 0; border: 0;" onload="this.style.height = $('#viewport').innerHTML + 'px';")
      section#404.page.animated.fadeInDown.no-print
        .content
          button.back-button(style="background-color: #fff") &nbsp;
          | Not found
