doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Jet Computers
    meta(http-equiv="Content-Language" content="en")
    base(href="https://jetcomputers.us/" target="_parent")
    //- Begin search tags
    meta(name="title" content="Jet Computers - Services for PCs, Macs, Linux, Android, and iOS!")
    meta(name="description" content="We've got the St Lucie area covered from desktop to smartphone; with expert repair, servicing, custom builds, and much more! Repairs start from just $39.99!")
    meta(name="keywords" content="computer, computers, computer repair, computer service, computer repairs, computer services, tablet, tablets, tablet repair, tablet service, tablet services, mobile, mobiles, mobile repair, mobile service, mobile repairs, mobile services, mac, macs, mac repair, mac repairs, mac service, mac services, virus, viruses, virus cleaning, virus removal, spyware, spyware cleaning, spyware removal, malware, malware cleaning, malware removal, cleaning, tuneup, removal, installation, windows, osx, linux, unix, freebsd, android, ios")
    meta(name="subject" content="Computer repair and services")
    meta(name='revised' content="Sunday, July 25th, 2015, 12:00 am")
    link(rel="canonical" href="https://jetcomputers.us")
    link(rel="alternate" href="https://jetcomputers.us" hreflang="x-default")
    link(rel="publisher" href="https://google.com/+JetComputersPortSaintLucie")
    meta(name="robots" content="index, follow")
    //- End search tags
    //- Begin social tags
    meta(property="og:title" content="Jet Computers - Services for PCs, Macs, Linux, Android, and iOS!")
    meta(property="og:type" content="website")
    meta(property="og:image" content="")
    meta(property="og:url" content="https://jetcomputers.us")
    meta(property="og:description" content="We've got the Port St Lucie area covered from desktop to smartphone; with expert repair, servicing, custom builds, and much more! Repairs start from just $39.99!")
    meta(property="twitter:card" content="summary")
    meta(property="twitter:url" content="https://jetcomputers.us")
    meta(property="twitter:title" content="Jet Computers - Services for PCs, Macs, Linux, Android, and iOS!")
    meta(property="twitter:description" content="We've got the Port St Lucie area covered from desktop to smartphone; with expert repair, servicing, custom builds, and much more! Repairs start from just $39.99!")
    meta(property="twitter:image" content="")
    //- End social tags
    //- Begin mobile tags
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, minimal-ui")
    meta(name="apple-mobile-web-app-capable" content="yes")
    link(rel="shortcut icon" href="img/mobile.ico")
    //- End mobile tags
    //- Begin styles
    link(rel="stylesheet" href="css/vendor.min.css")
    link(rel="stylesheet" href="css/main.css")
    <!--[if IE 9]>
    style.
      html { background-attachment: fixed; }
    <![endif]-->
    //- End styles
    //- Begin scripts
    //- script(async="" src="//www.googletagmanager.com/gtm.js?id=XXX-XXXXXX">)
    script(src="js/vendor.min.js")
    script(src="js/main.js")
    <!--[if IE 9]>
    script(src="js/vendor/html5shiv.min.js")
    script(src="js/vendor/respond.min.js")
    <![endif]-->
    //- End scripts
  body.slidez(itemscope itemtype="http://schema.org/LocalBusiness")
    #loading-overlay.loading-overlay.animated.fadeIn
      .loading.animated.fadeInDown
        i.fa.fa-spinner.fa-pulse
        label(for="loading-overlay") Loading... please wait
    #viewport.viewport
      header#ph.animated
        a(href="#home")
          img.logo(itemprop="logo" src="img/blank.png" data-layzr="img/brand/ph.png" alt="Jet Computers logo")
        #vcard.vcard
          span.pull-left
            .fn.org(itemprop="name")
              b Jet Computers
            a.navlink.pull-left(href="#map" title="Get directions")
              i.fa.fa-map-marker.fa-fw.fa-2x.i-mobile
            address.adr.pull-left.no-mobile(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")
              .street-address(itemprop="streetAddress") 808 SW Glenview Ct
              span.locality(itemprop="addressLocality") Port St Lucie
              | ,
              span.region(itemprop="addressRegion") FL
              span.postal-code(itemprop="postalCode") 34953
              | ,
              abbr.country-name(itemprop="addressCountry" title="United States of America") US
          span.tree.pull-right
            span.tree-left
              <a href="#" title="Store hours" class="pull-left"><i class="fa fa-clock-o fa-fw i-mobile"></i></a>
              span.no-mobile(itemprop="openingHours" content="Mo-Fr 9:00-20:00") <em>Mon-Fri:</em> 9a-8p
              .no-mobile(itemprop="openingHours" content="Sa 11:00-17:00") <em>Sat:</em> 11a-5p
            span.tree-right
              a.email(itemprop="email" href="mailto:office@jetcomputers.us" title="Email us")
                i.fa.fa-envelope.fa-fw.i-mobile
                span.no-mobile office@jetcomputers.us
              br.no-mobile
              a(href="tel:7723618585" title="Reach us by phone")
                i.fa.fa-phone.fa-fw.i-mobile
              span.tel.no-mobile(itemprop="telephone")
                | (<span class="value">772) <span class="value">361-<span class="value">8585</span>
      #pc
      footer#pf.animated
        #social
          link(itemprop="url" href="https://jetcomputers.us")
          a.animated.hoverbounce(itemprop="sameAs" href="https://google.com/+JetComputersPortSaintLucie" target="_blank" title="Review us on Google+")
            i.icon.social.color.gplus.i-mobile
          a.animated.hoverbounce(itemprop="sameAs" href="https://yelp.com/biz/jet-computers-port-saint-lucie" target="_blank" title="Review us on Yelp")
            i.icon.social.color.yelp.i-mobile
          a.animated.hoverbounce(itemprop="sameAs" href="https://facebook.com/JetCompPSL" target="_blank" title="Like us on Facebook")
            i.icon.social.color.fb.i-mobile
          a.animated.hoverbounce(itemprop="sameAs" href="https://twitter.com/JetCompPSL" target="_blank" title="Follow us on Twitter")
            i.icon.social.color.twitter.i-mobile
          a.animated.hoverbounce(itemprop="sameAs" href="https://jetcomppsl.tumblr.com/" target="_blank" title="Follow us on Tumblr")
            i.icon.social.color.tumblr.i-mobile
        small &copy; Jet Computers LLC, all rights reserved.
    #page-stack.page-stack
      #home.home.page.animated.zoomIn
        nav.content
          a.resi.navlink.tile.animated.flipInY.flipInLeft(href="#resi")
            img.bg(src="img/blank.png" data-layzr="img/bg/resi.jpg")
            img.special-badge.pull-right(src="img/blank.png" data-layzr="img/tuneup_badge.png")
            label
              | Services<br>
              | For You
          .pricing.tile.animated.flipInX.flipInTop
            .gallery.autoplay.items-5.pull-right
              .control-operator(id="home/pricing-tuneup")
              .control-operator(id="home/pricing-antimalware")
              .control-operator(id="home/pricing-transfer")
              .control-operator(id="home/pricing-restoration")
              .control-operator(id="home/pricing-housecall")
              figure#tuneup.item(data-layzr="img/specials/tuneup.jpg" data-layzr-bg)
                div
                  .xlg
                    | Cleaning and<br>
                    | Tune-Up
                  .xxl
                    strong $39<sup><small>.99</small></sup>
              figure#antimalware.item(data-layzr="img/specials/antimalware.jpg" data-layzr-bg)
                div
                  .xlg
                    | Virus and<br>
                    | Malware Removal
                  small <em>Starting from:</em>
                  .xxl
                    strong $49<sup><small>.99</small></sup>
              figure#transfer.item(data-layzr="img/specials/transfer.jpg" data-layzr-bg)
                div
                  .xlg
                    | Files and Settings<br>
                    | Transfer
                  small <em>Starting from:</em>
                  .xxl
                    strong $59<sup><small>.99</small></sup>
              figure#restoration.item(data-layzr="img/specials/restoration.jpg" data-layzr-bg)
                div
                  .xlg Complete Restoration
                  .xxl
                    strong $79<sup><small>.99</small></sup>
              figure#housecall.item(data-layzr="img/specials/housecall.jpg" data-layzr-bg)
                div
                  .xlg
                    | Need Us To Come<br>
                    | To You?
                  .lg
                    strong Call for a quote
              .controls
                a.control-button(href="#home/pricing-tuneup") &bull;
                a.control-button(href="#home/pricing-antimalware") &bull;
                a.control-button(href="#home/pricing-transfer") &bull;
                a.control-button(href="#home/pricing-restoration") &bull;
                a.control-button(href="#home/pricing-housecall") &bull;
          a.sbs.navlink.tile.animated.flipInX.flipInTop(href="#sbs")
            img.bg(src="img/blank.png" data-layzr="img/bg/sbs.jpg")
            label
              | Small<br>
              | Business<br>
              | Services
          a.twitter.navlink.tile.animated.fadeIn(href="https://twitter.com/JetCompPSL" target="_blank")
            iframe(data-layzr="twitter.html" style="width: 100%; height: 100%;")
            label(style="z-index: -1;")
              | @JetCompPSL<br>
              | on Twitter
      section#resi.page.animated.fadeInRight
        article.content
          button.backbtn(style="background-color: #66add1") &nbsp;
          h1 Residential Services
          div
            p
              | Technology is changing our lives, but it doesn't have to cause
              | headaches, too. Jet Computers delivers down-to-earth, affordable
              | services to help you get the most from the devices in your home
              | and your pockets. Bring your troubled machines and gadgets by
              | for same-day diagnostics &ndash; complementary when you
              | pay for repairs!
            .gallery.autoplay.items-5.pull-right
              div(id="#resi/pricing-tuneup.control-operator")
              div(id="#resi/pricing-antimalware.control-operator")
              div(id="#resi/pricing-transfer.control-operator")
              div(id="#resi/pricing-restoration.control-operator")
              div(id="#resi/pricing-housecall.control-operator")
              figure#tuneup.item(data-layzr="img/specials/tuneup.jpg" data-layzr-bg style="position: absolute")
                div
                  .xlg
                    | Cleaning and<br>
                    | Tune-Up
                  .xxl
                    strong $39<sup><small>.99</small></sup>
              figure#antimalware.item(data-layzr="img/specials/antimalware.jpg" data-layzr-bg)
                div
                  .xlg
                    | Virus and<br>
                    | Malware Removal
                  small <em>Starting from:</em>
                  .xxl
                    strong $49<sup><small>.99</small></sup>
              figure#transfer.item(data-layzr="img/specials/transfer.jpg" data-layzr-bg)
                div
                  .xlg
                    | Files and Settings<br>
                    | Transfer
                  small <em>Starting from:</em>
                  .xxl
                    strong $59<sup><small>.99</small></sup>
              figure#restoration.item(data-layzr="img/specials/restoration.jpg" data-layzr-bg)
                div
                  .xlg Complete Restoration
                  .xxl
                    strong $79<sup><small>.99</small></sup>
              figure#housecall.item(data-layzr="img/specials/housecall.jpg" data-layzr-bg)
                div
                  .xlg
                    | Need Us To Come<br>
                    | To You?
                  .lg
                    strong Call for a quote
              .controls
                a.control-button(href="#resi/pricing-tuneup") &bull;
                a.control-button(href="#resi/pricing-antimalware") &bull;
                a.control-button(href="#resi/pricing-transfer") &bull;
                a.control-button(href="#resi/pricing-restoration") &bull;
                a.control-button(href="#resi/pricing-housecall") &bull;
            p
              | Jet Computers is here to take care of all your technical needs.
              | We can assist you with everything from PCs to mobile phones, with services including:
              ul.fa-ul
                li
                  i.fa.fa-li.fa-tachometer
                  | Cleaning and tune-up
                li
                  i.fa.fa-li.fa-medkit
                  | Virus and malware removal
                  i.icon.hot.xsm(title="Popular service!")
                li
                  i.fa.fa-li.fa-lock
                  | Computer security
                li
                  i.fa.fa-li.fa-bug
                  | Troubleshooting
                li
                  i.fa.fa-li.fa-download
                  | System and app installation
                li
                  i.fa.fa-li.fa-exchange
                  | Files and settings transfer
                li
                  i.fa.fa-li.fa-life-ring
                  | Failure prevention and recovery
                li
                  i.fa.fa-li.fa-magic
                  | Complete system restoration
                  i.icon.hot.xsm(title="Popular service!")
                li
                  i.fa.fa-li.fa-bolt
                  | Performance upgrades
                li
                  i.fa.fa-li.fa-question
                  | Need something else? Just ask!
                aside: small: em (We are not a screen repair shop, sorry!)
            p
              | When you entrust Jet Computers with your gadgets &mdash; be it
              | your notebook or tablet, gaming rig or HTPC &mdash; you can rest
              | assured that expert hands are taking the utmost care to see the
              | job through properly. We are up to speed on all the latest
              | diagnosis and repair techniques, and we begin each procedure
              | with a full backup of each device to protect your data against
              | the unforeseen. Our specialized in-house tools enable us to work
              | smarter and faster, saving you money and getting you back up and
              | running.
            big: em Questions? Just call 772-361-8585!<br>
            small: em - or -<br>
            em Visit <a href="#map">our shop in Port St Lucie</a>!
      section#sbs.page.animated.fadeInRight
        article.content
          button.backbtn(style="background-color: #a3c6e0") &nbsp;
          h1 Small Business Services
          div
            p
              | Every small business has IT needs these days, but it's not
              | always cost-effective to bring in dedicated staff or to contract
              | a large outside firm. Jet Computers understands that sometimes,
              | your business just needs simple solutions for everyday IT
              | problems &ndash; without all the upselling and mammoth invoices.
              | No matter what your needs, we're ready to talk about affordable,
              | custom-tailored solutions for your small business.
            p
              | To request a no-obligation consultation, simply give us a call,
              | send us an email, or fill out the short form below.
            iframe.cognito(data-layzr="consultation.html" onload="this.style.height = this.contentWindow.document.body.scrollHeight + 'px';")
      section#map.page.animated.fadeInRight
        .content
          button.backbtn(style="background-color: #fff") &nbsp;
          iframe(data-layzr="https://www.google.com/maps/embed/v1/place?key=AIzaSyBMjHrzxczLo9bL4HWAx5f60a1mqzIAL2s&q=Jet Computers, Port St Lucie, FL 34953" allowfullscreen style="width: 100%; height: 600px; padding: 0; border: 0;" onload="this.style.height = $('#viewport').innerHTML + 'px';")
      section#404.page.animated.fadeInDown
        .content
          button.backbtn(style="background-color: #fff") &nbsp;
          | Not found
