doctype html
html(lang="en")
  head
    //- Pull in common tags
    include ./includes/mixins.jade
    +meta('Home')
    include ./includes/base.jade
    //- Begin styles
    link(rel="stylesheet" href="css/vendor.css")
    link(rel="stylesheet" href="css/main.css")
    <!--[if IE 9]>
    style.
      html { background-attachment: fixed; }
    <![endif]-->
    //- End styles
    //- Begin scripts
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-67004816-1', 'auto');
      ga('send', 'pageview');
    script(src="js/vendor.js")
    script(src="js/main.js")
    <!--[if IE 9]>
    script(src="js/vendor/html5shiv.min.js")
    script(src="js/vendor/respond.min.js")
    <![endif]-->
    //- End scripts
  body.slidez(itemscope itemtype="http://schema.org/LocalBusiness")
    #loading-overlay.loading-overlay.animated.fadeIn.no-print
      .loading.animated.fadeInDown
        i.fa.fa-spinner.fa-pulse
        | &nbsp;
        label(for="loading-overlay") Loading&hellip; please wait
    #viewport.viewport
      header#viewport-header.animated
        h1: a(href="#home"): img.logo(itemprop="logo" src="img/brand/ph.png" alt="Jet Computers logo")
        #vcard.vcard
          div
            .fn.org(itemprop="name")
              b Jet Computers
            a.navlink.pull-left(href="#map" title="Get directions")
              i.fa.fa-map-marker.fa-fw.fa-2x.i-mobile
            address.adr.pull-left.no-mobile(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")
              .street-address(itemprop="streetAddress") 808 SW Glenview Ct
              span.locality(itemprop="addressLocality") Port St Lucie
              | ,&nbsp;
              span.region(itemprop="addressRegion") FL
              span.postal-code(itemprop="postalCode") 34953
              | ,&nbsp;
              abbr.country-name(itemprop="addressCountry" title="United States of America") US
          .tree
            span.tree-left
              big
                a(href="tel:7723618585" title="Reach us by phone")
                  i.fa.fa-phone.fa-fw.i-mobile
                strong.tel.no-mobile(itemprop="telephone")
                  | (<span class="value">772</span>) <span class="value">361</span>-<span class="value">8585</span>
              br.no-mobile
              a.email(itemprop="email" href="mailto:office@jetcomputers.us" title="Email us")
                i.fa.fa-envelope.fa-fw.i-mobile
                span.no-mobile: small office@jetcomputers.us
            span.tree-right
              a.pull-left(href="#" title="Store hours")
                i.fa.fa-clock-o.fa-fw.i-mobile(style="padding-bottom: 100%;")
              span.no-mobile(itemprop="openingHours" content="Mo-Fr 9:90-18:30") &nbsp;<em>Mon&ndash;Fri:</em> 9:30a&ndash;6:30p
              .no-mobile(itemprop="openingHours" content="Sa 11:00-16:30") &nbsp;<em>Sat:</em> 11a&ndash;4:30p
      #content-wrapper
      footer#viewport-footer.animated.no-print
        #social.social-links
          link(itemprop="url" href="https://jetcomputers.us")
          a.animated.hoverbounce(itemprop="sameAs" href="https://google.com/+JetComputersPortSaintLucie" target="_blank" title="Review us on Google+")
            i.icon.social.color.gplus.i-mobile
          a.animated.hoverbounce(itemprop="sameAs" href="https://yelp.com/biz/jet-computers-port-saint-lucie" target="_blank" title="Review us on Yelp")
            i.icon.social.color.yelp.i-mobile
          a.animated.hoverbounce(itemprop="sameAs" href="https://facebook.com/JetCompPSL" target="_blank" title="Like us on Facebook")
            i.icon.social.color.fb.i-mobile
          a.animated.hoverbounce(itemprop="sameAs" href="https://twitter.com/JetCompPSL" target="_blank" title="Follow us on Twitter")
            i.icon.social.color.twitter.i-mobile
          a.animated.hoverbounce(itemprop="sameAs" href="https://jetcomppsl.tumblr.com/" target="_blank" title="Follow us on Tumblr")
            i.icon.social.color.tumblr.i-mobile
        img#payments.payment-badge(src="img/payment_badge.png" alt="We accept Visa, MasterCard, American Express, Discover, and Bitcoin!")
        small.copy-text &copy; Jet Computers LLC, all rights reserved.
    #page-stack.page-stack.no-print
      include ./home.jade
      include ./resi.jade
      include ./sbs.jade
      include ./map.jade
      include ./404.jade
    //- hack for pages with no layzrs
    img(style="display: none" data-layzr="img/blank.png")
    img(style="display: none" data-layzr="img/blank.png")
