section#residential.page.animated
  article.content
    button.back-button.no-print(style="background-color: #66add1") &nbsp;
    h2 Residential Services
    div
      p
        | Technology is changing our lives, but it doesn't have to cause
        | headaches, too. Jet Computers delivers down-to-earth, affordable
        | services to help you get the most from the devices in your home
        | and your pockets. Bring your troubled machines and gadgets by
        | for same-day diagnostics &ndash; complementary <strike>when you
        | pay for repairs</strike> <em>through September 2015!</em>
      p
        | Jet Computers is here to take care of all your technical needs.
        | We can assist you with everything from PCs to mobile phones, with services including:
      ul.fa-ul.pull-left
        li
          i.fa.fa-li.fa-tachometer
          | Cleaning and tune-up
        li
          i.fa.fa-li.fa-medkit
          | Virus and malware removal
          i.icon.hot.sm(title="Popular service!")
        li
          i.fa.fa-li.fa-lock
          | Computer security
        li
          i.fa.fa-li.fa-bug
          | Troubleshooting
        li
          i.fa.fa-li.fa-download
          | System and app installation
        li
          i.fa.fa-li.fa-exchange
          | Files and settings transfer
        li
          i.fa.fa-li.fa-life-ring
          | Failure prevention and recovery
        li
          i.fa.fa-li.fa-magic
          | Complete system restoration
          i.icon.hot.sm(title="Popular service!")
        li
          i.fa.fa-li.fa-bolt
          | Performance upgrades
        li
          i.fa.fa-li.fa-question
          | Need something else? Just ask!
        aside: small: em (We do not repair phone/tablet screens at this time)
      p
        | When you entrust Jet Computers with your gadgets &mdash; be it
        | your notebook or tablet, gaming rig or HTPC &mdash; you can rest
        | assured that expert hands are taking the utmost care to see the
        | job through properly. We are up to speed on all the latest
        | diagnosis and repair techniques, and we begin any delicate procedure
        | with a full backup of each device to protect your data against
        | the unforeseen. Our specialized in-house tools enable us to work
        | smarter and faster, saving you money and getting you back up and
        | running.
      br
      br.clear-float
      big: em Questions? Just call 772-361-8585!<br>
      small: em - or -<br>
      em Visit <a href="#map">our shop in Port St Lucie</a>!
