section#residential.page.animated
  article.content
    button.back-button.no-print(style="background-color: #66bed1") &nbsp;
    h2 Services For You, Your Family, Home, and Lifestyle
    div
      p
        | Technology is changing our lives, but it doesn&rsquo;t have to cause
        | headaches, too. Jet Computers delivers down-to-earth, affordable
        | services to help you get the most from the devices in your home and
        | your pockets. Bring your troubled machines and gadgets by for
        | same-day diagnostics &mdash; complementary when you pay for repairs!
      p
        | Jet Computers is here to take care of all your technical needs.
        | Whether your device greets you with popups, long loading times, no
        | internet connectivity, a gray- or blue-screen of death, or nothing on
        | the screen at all: we offer a service to ease your woes! We can assist
        | you with everything from PCs and Macs to home networks and portable
        | devices &mdash; just browse the list below to learn more about some
        | of our most common services.
      ul.fa-ul.detail-list
        li.no-print
          i.fa.fa-li.fa-tachometer
          | Cleaning and tune-up
        li.detail
          div
            h3 Cleaning and tune-up
            p
              | This is our most basic maintenence service, but also one of our
              | most valuable.
            p
              | For a low flat rate of $40, we run a battery of powerful junk,
              | malware, and virus cleaning tools on your machine. We follow
              | this with a second stage of custom-tailored cleaning and
              | optimization to ensure your devices achieve maximum performance
              | and enjoy long, healthy lives.
            p
              | In many cases, we get your devices back to you next-day. We even
              | stand by our work with a no-questions-asked 7 day guarantee. If
              | you think we could have done better, we&rsquo;ll take another
              | look for no extra charge!
            p
              | If your troubles extend way beyond slowdowns, popups, or spam,
              | check out our virus and malware service below. For more or less
              | extreme situations, you may instead be interested in our
              | reinstallation or complete restoration services.
        li.no-print
          i.fa.fa-li.fa-medkit
          | Virus and malware removal&nbsp;
          i.icon.hot.sm(title="Popular service!")
        li.detail
          div
            h3 Virus and malware removal
            p
              | Sometimes a device is beyond cluttered or infected, and needs
              | serious intensive care. For such occasions, we take a targeted,
              | surgical approach to eradicate any traces of viruses, trojans,
              | ransomware, and every nasty sort of bug in between.
            p
              | If you have ever attempted to simply delete a virus, you have
              | probably run into situations where the virus returns all by
              | itself, the system starts experiencing errors, or both. Authors
              | of malicious software use every trick in the book to keep you
              | captive, and that&rsquo;s where Jet Computers comes in.
            p
              | By placing your system in total isolation, it becomes possible
              | to fight back against malware or other unwanted software without
              | giving it a chance to defend itself. After an infection has been
              | cleared up, we continue to closely monitor system activity until
              | we are convinced that the culprit is not lying in wait to once
              | again rear its ugly head next time you sit down to check your
              | email.
            p
              | If this sounds a little overkill, our basic cleaning (detailed
              | above) may be more your speed. In fact, many scary-looking
              | infections are not so tough after all, and we will never charge
              | you for additional procedures that you don't need.
        li.no-print
          i.fa.fa-li.fa-lock
          | Personal security
        li.detail
          div
            h3 Personal security
            p
              | Hackers, malware creators, and thieves get more sophisticated
              | each day, but Jet Computers remains diligent in order to stay
              | one step ahead of the criminals at all times.
            p
              | Whether you are looking for a safer way to manage your
              | passwords, wondering how to keep the neighbors off your WiFi,
              | wishing your computer would stop recording everything you do, or
              | want to know the best way to safeguard a Bitcoin wallet; we can
              | lend a knowledgable hand in plain English, not overwhelming tech
              | speak.
            p
              | We subscribe to world-leading security newsfeeds and track the
              | latest threats as they unfold, to stay on top of any
              | developments in the information security world that may put you
              | or your family at risk online.
            aside
              p
                | If you&rsquo;re interested in learning more about the
                | relationship between technology and your own security, check out
                | these recommended blogs:
              ul
                li
                  a(href="http://luciusonsecurity.blogspot.com/") Lucius on Security
                  br
                  p
                    | Straightforward explanations of issues that affect our daily
                    | lives, including tips for parents and insight into current
                    | threats.
                li
                  a(href="http://tech-wreckblog.blogspot.com/?view=magazine") Tech-Wreck InfoSec Blog
                  br
                  p
                    | Coverage of a variety of topics ranging from fairly casual to
                    | downright nerdy. Goofy font aside, Tech-Wreck&rsquo;s
                    | aggregated links and opinion pieces have much to teach.
                li
                  a(href="http://blog.noticebored.com/") NoticeBored
                  br
                  p
                    | Security-related musings about everything from awareness of
                    | personal security to the technological evolution of warfare.
        li.no-print
          i.fa.fa-li.fa-download
          | System and device (re)installation
        li.detail
          div
            h3 System and device (re)installation
            p
              | If you&rsquo;re simply fed up with the state of your device and
              | want a fresh start for a fair price, let us wipe the slate clean
              | for you. If you would like professional assistance setting up a
              | new system, device, or network, Jet Computers has you covered
              | there as well.
            p
              | Our installation services cost no more than a basic cleaning
              | &mdash; just $40. We take care of all the steps from
              | pre-installation preparation to post-installation configuration,
              | and we may optionally install a selection of companion apps to
              | help you get the most enjoyment and longevity from your freshly
              | installed gadgets. If you need us to come to your home or
              | workplace, there&rsquo;s no need to sweat &mdash; our surcharge
              | for on-site calls is only $20 anywhere in the St. Lucie or
              | Martin counties!
            p
              | As an added bonus, we can provide you with no-pressure upgrade
              | advice to keep you informed of what lies on the technological
              | horizon; and to help you make purchases that are smart,
              | budget-friendly, and fitting for your needs.
        li.no-print
          i.fa.fa-li.fa-exchange
          | Files and settings transfer
        li.detail
          div
            h3 Files and settings transfer
            p
              | Have you recently purchased or begun considering a new device or
              | computer, but don&rsquo;t know where to begin when it comes to
              | migrating your old files, settings, apps, or games? Jet
              | Computers will ensure that every last precious byte is carefully
              | transferred to its new home.
            p
              | Or, perhaps your collection of pictures and documents has simply
              | grown unwieldy and difficult to organize. We can effectively and
              | efficiently unclutter your important files from
              | &ldquo;C drive&rdquo; to &ldquo;OneDrive&rdquo; or anywhere else
              | they may be hiding.
            p
              | When dealing with sensitive or private data, we keep our hands
              | and eyes to ourselves. During transfer operations, we employ air
              | gapping to prevent data leakage; and military-grade encryption
              | if the need arises to connect your device(s) to the network.
            p
              | In addition to transferring or organizing data for you, we also
              | offer a variety of backup and recovery services. Learn more
              | about ways to keep your data safe in the section below!
        li.no-print
          i.fa.fa-li.fa-life-ring
          | Failure prevention and data recovery
        li.detail
          div
            h3 Failure prevention and data recovery
            p
              | In an age where we store more of our memories, records, and
              | sensitive data in digital form with each passing day, it&rsquo;s
              | becoming more important than ever before to ensure our
              | devices&rsquo; data remains safe even in the event of a most
              | catastrophic failure.
            p
              | Why wait until it's too late? You can begin protecting yourself
              | from data loss in minutes with a free trial from
              | <a href="http://bit.ly/JetCompCloud">Backblaze</a> &mdash; the
              | only dedicated cloud backup service trusted by Jet Computers!
            p
              | Or, if you desire full control over where and how your important
              | data is stored at all times, just tell us your needs and
              | together we will find just the right disaster plan for you. We
              | even offer failure prevention services and advanced data
              | recovery. We can help you implement and learn to use any number
              | of techniques to protect your valuable files from corruption,
              | theft, accidental deletion, and even curious kids.
        li.no-print
          i.fa.fa-li.fa-magic
          | Complete system restoration&nbsp;
          i.icon.hot.sm(title="Popular service!")
        li.detail
          div
            h3 Complete system restoration
            p
              | When conventional scanners, cleaners, and repair tools simply
              | will not do the trick; but your computer&rsquo;s contents are
              | too crucial to let go of, it may be time for Jet
              | Computers&rsquo; most thorough procedure.
            p
              | In these extreme cases, we begin by methodically isolating each
              | problem area of the system so that we may analyze and solve one
              | small piece of the puzzle at a time.
            p
              | Instead of deleting damaged files en masse or simply restoring
              | the system to a previous state, we repair critical  components
              | on a file-by-file basis so that you get your computer back
              | exactly the way you remember it&hellip; minus the undesired
              | behavior.
        li.no-print
          i.fa.fa-li.fa-bolt
          | Performance upgrades and custom PCs
        li.detail
          div
            h3 Performance upgrades and custom PCs
            p
              | Not every conversation involving computers needs to be about
              | what&rsquo;s wrong with them. If you just want to show your
              | desktop or laptop a little love to keep it from fading into
              | obsolescence, ask Jet Computers which upgrades are right for
              | your machine. If you're thinking of buying new, have us pick out
              | the perfect parts for your needs &mdash; we&rsquo;ll even take
              | care of assembly and delivery if you like!
            p
              | Not only can we help you to identify parts that are compatible
              | with your computer and with each other, but we take care to
              | determine if there are &mdash; or would be &mdash; any
              | bottlenecks between components.
            p
              | We understand that choosing to upgrade or replace a computer can
              | be an intimidating prospect, so we go above and beyond to make
              | sure you get the best possible improvements while respecting
              | your wants, needs, and budget.
        li.no-print
          i.fa.fa-li.fa-wrench
          | Physical repairs*&nbsp;
          i.icon.hot.sm(title="Popular service!")
        li.detail
          div
            h3 Physical repairs*
            p
              | If it&rsquo;s scratched, dinged, scratched, bent, broken, or
              | otherwise beat up: blaming the kids might make you feel better,
              | but it won&rsquo;t fix the damage.
            p
              | Jet Computers will identify and locate genuine replacement parts
              | for your gear at the best possible price point. If your budget
              | is especially tight, we can track down one-hundred percent
              | compatible aftermarket parts at your request, and you
              | don&rsquo;t pay if they don&rsquo;t work!
            p
              | We keep our markup at a minimum, because mending your broken
              | machines is about getting you back to normal with a smile
              | &mdash; not lining our pockets. With a vast network of
              | manufacturer parts databases and suppliers at our fingertips, we
              | can find exactly what you need at a price you can breathe easy
              | about.
        li.no-print
          i.fa.fa-li.fa-question
          | Need something else? Just ask!
        li.detail
          div
            h3 Need something else? Just ask!
            p
              | When it comes to tech, Jet Computers knows virtually no
              | limits. If you need help with something that is not listed here,
              | just give us a shout using any of the methods below. We&rsquo;ll
              | be more than happy to help!
            .tree
              ul.fa-ul.tree-left(style="margin-left: 0; padding-top: 0")
                h4(style="text-align: center") Contact us at:
                li.capsule
                  a(href="tel:7723618585")
                    i.fa.fa-phone.fa-fw.pull-left
                  | (772) 361-8585
                li.capsule
                  a(href="mailto:office@jetcomputers.us")
                    i.fa.fa-envelope.fa-fw.pull-left
                  | office@jetcomputers.us
                li.capsule
                  a.navlink(href="#map" title="Get directions")
                    i.fa.fa-map-marker.fa-fw.pull-left(style="line-height: 240%")
                  | 808 SW Glenview Ct<br>
                  | P*S*L, FL 34953, US
                br
              .tree-right(style="vertical-align: top")
                h4(style="text-align: center") We&rsquo;ll be available:
                .capsule
                  a(href="#" title="Store hours")
                    i.fa.fa-clock-o.fa-fw.pull-left(style="line-height: 240%")
                  | Mon&ndash;Fri: 9:30a&ndash;6:30p<br>
                  | &nbsp;Sat: 11a&ndash;4:30p
        li.default.no-print
          div
            big: strong Hover or tap on the list to the left to learn more
        aside: small: em * We do not repair phone/tablet screens at this time
      p
        | When you entrust Jet Computers with your gadgets &mdash; be it your
        | notebook or tablet, gaming rig or HTPC &mdash; you can rest assured
        | that expert hands are taking the utmost care to see the job through
        | properly. We are up to speed on all the latest diagnosis and repair
        | techniques, and we begin any delicate procedure with a full backup of
        | each device to protect your data against the unforeseen. Our
        | specialized in-house tools enable us to work smarter and faster,
        | saving you money and getting you back up and running sooner.
      br
      br.clear-float
      big: em Questions? Just call 772-361-8585!<br>
      small: em - or -<br>
      em Visit <a href="#map">our shop in Port St Lucie</a>!
