section#business.page.animated
  article.content
    button.back-button.no-print(style="background-color: #a3c6e0") &nbsp;
    h2 Small Business Services
    div
      p
        | Every small business has IT needs these days, but it's not
        | always cost-effective to bring in dedicated staff or to contract
        | a large outside firm. Jet Computers understands that sometimes,
        | your business just needs simple solutions for everyday IT
        | problems &ndash; without all the upselling and mammoth invoices.
        | No matter what your needs, we're ready to talk about affordable,
        | custom-tailored solutions for your small business.
      p
        | To request a no-obligation consultation, simply give us a call,
        | send us an email, or fill out the short form below.
      iframe.cognito(data-layzr="consultation.html" onload="this.style.height = this.contentWindow.document.body.scrollHeight + 'px';")

