section#windows-10.page.animated.no-print
  .content
    button.back-button &nbsp;
    h2 Are You Ready For Windows 10?
    h3 5 facts every Windows user should know
    p
      | Jet Computers strives to stay up-to-speed on the latest technology,
      | because we want to ensure that we&rsquo;re ready to help you make the
      | best technology decisions possible. We often get questions about Windows
      | 10, and many users of Windows 7 or 8 are wary of upgrading, so we put
      | together this brief overview to address five of the most common concerns
      | people raise when discussing Windows 10.
    .capsule(style='display: inline-block; max-width: 560px; vertical-align: top;')
      h4 The upgrade is FREE!
      p
        | This includes all Windows 7, 8, and 8.1 users &mdash; even those who
        | don&rsquo;t use a genuine copy of Windows! (Sorry XP and Vista fans,
        | but this train doesn&rsquo;t stop at your stations.) However,
        | Microsoft has placed a one year clock on free upgrades. This gives
        | you ample time to decide if you want to upgrade, but you don&rsquo;t
        | want to miss your chance &mdash; come next August, upgrading will
        | cost you $120 (or $200 for Pro)!
      p
        | If you&rsquo;ve been on the fence about Windows 10, the good news is
        | that for one month after upgrading, it is trivial to return to the
        | version you used previously. If you become disappointed with the new
        | look, find that some of your old apps are incompatible, or encounter
        | some sort of annoying bug: relief is just a few clicks away.
      figure
        img(src='img/win10/downgrade_dialog.jpg' alt='Windows 10 Downgrade Dialog')
        figcaption
          | Microsoft understands Windows 10 may not be right for everyone,
          br
          | and offers a built-in downgrade option.
    .capsule(style='display: inline-block; max-width: 560px; vertical-align: top;')
      h4 And you already have Windows 10
      p
        | It may sound like an exaggeration, but the truth is that Microsoft
        | has been quietly downloading the Windows 10 installer to every
        | computer that is eligible to upgrade. This is the case even if you
        | never opted in to receive a free upgrade! If you can see a
        | little Windows icon in the bottom-right corner of your screen,
        | it&rsquo;s probably already downloaded.
      figure
        img(src='img/win10/gwx_tray.jpg' alt='"Get Windows 10" Icon')
        figcaption An icon like this one indicates that you are eligible for a free upgrade.
      p
        | Thankfully, the downloaded files are harmless and nothing is
        | installed without your consent, but they do take up a bit of space
        | &mdash; up to several gigabytes! Additionally, Microsoft reserves
        | the right to use your computer to distribute the installation files
        | to other customers. These practices have proven a bit nightmarish
        | for users with limited storage space or Internet data caps.
    .capsule(style='display: inline-block; max-width: 560px; vertical-align: top;')
      h4 But upgrading can be tricky
      p
        | Microsoft really put their best foot forward when designing Modern
        | Setup &mdash; the new installer that delivers Windows 10 to
        | customers around the world &mdash; but there are still some caveats.
      p
        | Not all editions of Windows can be upgraded directly, or at all. The
        | Microsoft Surface RT and other tablets that run Windows RT are stuck
        | in the mud, while older computers may need additional service packs,
        | intermediate upgrades, or even new hardware before moving to Windows
        | 10.
      figure
        img(src='img/win10/upgrade_matrix.jpg' alt='Windows 10 Upgrade Matrix')
        figcaption This chart shows which versions of Windows are upgradeable.
      p
        | Even computers and other devices which support a direct upgrade can
        | run into trouble. Many manufacturers choose to integrate their own
        | customizations into each model they sell, and these customizations
        | can wreak havoc when the Windows 10 installer unwittingly butts
        | heads with them.
    .capsule(style='display: inline-block; max-width: 560px; vertical-align: top;')
      h4 And you may run into some nasty bugs
      p
        | Windows 10 is still relatively new software. Despite several lengthy
        | public testing phases, there are bound to be unresolved or
        | undiscovered bugs still lurking in the shadows. Casual Windows users
        | may want to consider waiting a few more months to upgrade. In the
        | meantime, Microsoft has been working their very hardest to release
        | fixes for the most widely encountered issues.
      p
        | Users who play a lot of games, own a variety of peripherals, or rely
        | heavily on specialized or older software are perhaps the most likely
        | to run into trouble with Windows 10 in the near future, but as noted
        | above, Microsoft has tried to make it as easy as possible to revert
        | to your previous version of Windows if things just
        | aren&rsquo;t working out for you.
      figure
        img(src='img/win10/kernel_memory_leak.jpg' alt='Windows Task Manager')
        figcaption
          | Highlighted in yellow, Windows 10 hogs up to 25% of this machine&rsquo;s memory.
          br
          | This problem worsens until the game is closed or Windows crashes.
      p
        | On the other hand, more daring users may find Windows 10&rsquo;s new
        | features and improvements too exciting to pass up &mdash; especially
        | those who have been stuck with Windows 8.1 and can&rsquo;t stand the
        | interface. Without a doubt, Microsoft is paying very close attention
        | to how Windows 10 performs on their customers&rsquo; PCs, and
        | putting up with a few bugs now will benefit every Windows 10 user
        | in the long run.
    .capsule
      h4 Last but not least: there&rsquo;s been a lot of hubub regarding &ldquo;spying&rdquo;
      figure.pull-right
        img(src='img/win10/privacy_settings.jpg' alt='Windows 10 Privacy Settings')
        figcaption
          | During or after installation, it&rsquo;s easy to disable much of
          | Microsoft's data collection.
          br
          | This does sacrifice features, so it&rsquo;s important to weigh the
          | pros and cons.
      p
        | Terms like &ldquo;telemetry&rdquo; and &ldquo;steps recorder&rdquo;
        | hardly elicit warm fuzzy feelings, especially in the midst of endless
        | rhetoric on the subject of domestic spying and what-have-you. But what
        | exactly is all the fuss about?
      p
        | Truth be told, Windows 10 records a surprising amount of information
        | about user activity and sends it to Microsoft &mdash; presumably
        | anonymously &mdash; so they can use the data to improve their
        | products. In addition, online services like OneDrive and Office 365
        | store copies of your files on Microsoft servers. This is simply the
        | nature of cloud services, and there is no evidence that Microsoft
        | steals data without your consent, or goes combing through files you
        | upload to their online services.
      p
        | However, a founded concern lies in the fact that devices and operating
        | systems gather more information about their users than ever before. It
        | isn&rsquo;t just Windows 10 &mdash; Windows 7 and above, OS X, iOS,
        | Android, and virtually any other Internet-connected device you may use
        | employs similar analytics gathering and data collection. You may not
        | even realize it, but you have likely been agreeing to
        | &ldquo;Big Brother&rdquo;-esque terms of use for years, and no men in
        | black suits have busted down your door to question you about your
        | obviously nefarious kitten sweater plot yet.
      p
        | So, should you be afraid of Windows 10? Not really. Most of the
        | information Microsoft gathers that could be used to identify or
        | profile users is collected on an opt-out basis. If you choose to turn
        | off features like search personalization and voice activation, and
        | avoid cloud services like OneDrive and Office 365: you really have no
        | need to worry that Microsoft is peeking at your grocery list or taking
        | notes about which games your kids play.
      strong Bonus tip:
      p
        | Are you a working professional who needs to stay compliant with
        | privacy laws like HIPAA or HITECH? Although Microsoft has yet to offer
        | specific instruction for handling PHI or other sensitive data in
        | Windows 10, widely published research has revealed that Windows 10
        | Enterprise allows administrators to fully disable all built-in data
        | collection mechanisms. If you&rsquo;ve been torn between your legal
        | obligation to stay up-to-date and to prevent unlawful transmission of
        | client data: Windows 10 Enterprise is what you have been looking for.
    br
    big
      strong Still not sure if Windows 10 is right for you or your family?
      br
      br
      | Don't hesitate to <a href="tel:7723618585">call</a> or
      | <a href="#map">stop by</a> to chat about it!
      br
      br
      | We offer Windows 10 installation, upgrade, and downgrade services;
      | privacy and security hardening; and even pre- and post-upgrade
      | troubleshooting at the fairest prices.
