doctype html
html(lang="en")
  head
    //- Pull in common tags
    include ../includes/mixins.jade
    +meta('Request A Consultation', 'Friday, September 4th, 2015, 4:35 pm')
    include ../includes/base.jade
  body
    script.
      //- we're iframe-only
      if(!window.frameElement) window.location = '';
    .cognito
      .cognito.c-forms-confirmation Please wait while the form loads&hellip;
      script(src="https://services.cognitoforms.com/s/jsSC-dHFKUKD5CvhZoaBYw")
      script.
        Cognito.load("forms", { id: "1" });
