doctype html
html(lang="en")
  head
    //- Pull in common tags
    include ../includes/mixins.jade
    +meta('Tweets by @JetCompPSL', 'Friday, September 4th, 2015, 4:35 pm')
    include ../includes/base.jade
    style.
      body { margin: 0; padding: 6px; overflow: hidden; }
  body
    script.
      //- We're iframe-only
      if(!window.frameElement) window.location = '';
    .twitter-timeline(data-dnt="true" data-widget-id="633360408112267264" data-chrome="nofooter")
      script.
        window.twttr = (function(d, s, id) {
          var js,
              fjs = d.getElementsByTagName(s)[0],
              t = window.twttr || {};
          if (d.getElementById(id)) return t;
          js = d.createElement(s);
          js.id = id;
          js.src = "//platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js, fjs);
          t._e = [];
          t.ready = function(f) {
            t._e.push(f);
          };
          return t;
        }(document, "script", "twitter-wjs"));
