doctype html
html(lang="en")
  head
    //- Pull in common tags
    include ../includes/mixins.jade
    +meta('Map', 'Friday, September 4th, 2015, 4:35 pm')
    include ../includes/base.jade
    +redirect('map')
