doctype html
html(lang="en")
  head
    //- Pull in common tags
    include ../includes/mixins.jade
    +meta('Residential Services', 'Sunday, April 24th, 2016, 11:16 pm')
    include ../includes/base.jade
    +redirect('residential')
